
<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      	<li>You have error.</li>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>

<h3>User info</h3>
<%= f.text_field :name %>
<%= f.attachment_field :profile_image %>
<%= f.text_area :introduction %>
<%= f.submit "Update User" %>
<% end %>