<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
<%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size:'200x200' %>

    <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
</div>


<h3>New Book</h3>
<%= form_for(@book_new) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <% f.submit "create book" %>
  <% end %>


<h3>Books</h3>
<table>
  <tr><th>title</th><th>opinion</th></tr>
  <% @books.each do |book| %>
  <tr><td><%= book.title %></td><td><%= book.body %></td></tr>
</table>

<% end %>
