<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   -->

    <title>Bookers2</title>
  </head>

  <body>


<nav class="navbar navbar-default", style="background-color: black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bookers</a>
    </div>

    <% if user_signed_in? %>

    <div class="collapse navbar-collapse navbar-right" id="navbarEexample1">
      <ul class="nav navbar-nav justify-content-end">

        <li><a class="nav-link" href="#"><%= link_to 'Home', user_path(current_user),class: "glyphicon glyphicon-home" %></a></li>
        <li><a class="nav-link" href="#"><%= link_to 'Users', users_path, class: "glyphicon glyphicon-user" %>
</a></li>
        <li><a class="nav-link" href="#"><%= link_to 'Books', books_path, class: "glyphicon glyphicon-book" %>
</a></li>
       <li><a class="nav-link" href="#"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
</a></li>
      </ul>
    </div>
  </div>
</nav>

<% else %>

<div class="collapse navbar-collapse navbar-right" id="navbarEexample1">
      <ul class="nav navbar-nav justify-content-end">

        <li><%= link_to 'Home', root_path, class: "glyphicon glyphicon-home" %></li>
        <li><a href="/home/about"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>About</a></li>
        <li><%= link_to 'sign up', new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
       <li><%= link_to 'log in', books_path, class: "glyphicon glyphicon-log-in" %></li>
      </ul>
    </div>
  </div>
</nav>
<% end %>



  <div class="container">
   <%= yield %>
  </div>


  <footer>
    <p>Copyright Infratop.inc</p>
  </footer>
 </body>
</html>
