<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>Bookers</header>
    <% if user_signed_in? %>
        <%= link_to 'Home', user_path(current_user) %>
        <%= link_to 'Users', users_path %>

        <%= link_to 'Books', books_path %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "新規登録", new_user_registration_path %>

        <%= link_to "ログイン", new_user_session_path %>
    <% end %>
   <%= yield %>
  </body>
</html>
